:root {

    --button-color: #212b37c4;
    

    --chat-box-bot: #4a5e77;
    --text-area:#b4c4d8 ;

    --box-container: #15232e;

    --refresh-loader:#15232e;

    // Login
    --light-white-1: #F4F3EE;

    //After login
    --text-color: #F4F3EE;
    --toggle-bar: #F4F3EE;
    --container-bar: #0b4489;
}