:root {
    --light-white-1: #F4F3EE;

    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-ex-lg: 18px;

    --font-weight-sm: 500;
    --font-weight-md: 600;
    --font-weight-lg: 700;
    --font-weight-ex-lg: 800;

    --border-bottom-color: #9096ad;
    --border-bottom-color-input: #2b304d;

    --button-color: #212b37c4;
    --container-bar: #212B37;
    --icon-color: #F4F3EE;

    --chat-box-bot: #4a5e77;
    --text-area:#b4c4d8 ;

    --box-container: #15232e;

    --refresh-loader:#15232e;
}