<div class=" chat-container card-animate" [@bodyExpansion]="state">
    <div class="d-flex justify-content-around">
        <div class="container-box">
                <div class="d-flex flex-row">
                    <div  class="side-nav" [ngStyle]='{ flex : sideNavWidth }'>
                        <div class="d-flex flex-row justify-content-end side-nav-divider">
                           <div class ="p-2 " *ngIf="extendedPanel">
                            <button class="side-button" matSuffix mat-icon-button aria-label="Clear" (click)="openSideNav($event)">
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                           </div>
                           <div  class ="p-2 "*ngIf="!extendedPanel">
                            <button class="side-button" matSuffix mat-icon-button aria-label="Clear" (click)="openSideNav($event)">
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                           </div>
                        </div>
                        <div class="m-3 d-flex flex-column align-items-start gap-3">
                            <ng-container *ngIf="extendedPanel">
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div>Reset</div>
                                    <div><button class="side-button" matSuffix mat-icon-button aria-label="Reset" (click)="clearChat()">
                                        <mat-icon>restart_alt</mat-icon>
                                    </button></div>
                                </div>
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div>Savelist</div>
                                    <div><button class="side-button" matSuffix mat-icon-button aria-label="SaveItem">
                                        <mat-icon>bookmark_star</mat-icon>
                                    </button></div>
                                </div>
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div>Close</div>
                                    <div><button class="side-button"  matSuffix mat-icon-button aria-label="close" (click)="navigateToLogin()">
                                        <mat-icon>close</mat-icon>
                                    </button></div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!extendedPanel">
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div><button class="side-button" matSuffix mat-icon-button aria-label="Reset" (click)="clearChat()">
                                        <mat-icon>restart_alt</mat-icon>
                                    </button></div>
                                </div>
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div><button class="side-button" matSuffix mat-icon-button aria-label="SaveItem">
                                        <mat-icon>bookmark_star</mat-icon>
                                    </button></div>
                                </div>
                                <div class="menu-item w-100-p d-flex justify-content-between align-items-center">
                                    <div><button class="side-button"  matSuffix mat-icon-button aria-label="close" (click)="navigateToLogin()">
                                        <mat-icon>close</mat-icon>
                                    </button></div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="chat-box d-flex flex-column justify-content-between">
                       
                            <div class="d-flex flex-column ">
                                <div class="d-flex flex-row align-items-center gap-1 p-2 divider">
                                    <div class="profile-icon">
                                        <div>{{userName[0]}} </div>
                                     </div>
                                     <div>{{userName}}</div>
                                </div>
                                <div class="box-template" >
                                    <ng-container *ngIf="!isLoader">
                                        <div class="d-flex p-1 align-items-center gap-1">
                                            <div class="circle-icon">
                                               <img src="assets/bot-img.gif" class="h-100-perc" />
                                            </div>
                                            <div class="tech-box bottom-left-radius">
                                               Hello <span class="user-det">{{userName}} !!!</span> How can I help you?
                                            </div>
                                           
                                          </div>
                                          @if (postInput.length > 0) {
                                          <div  [@messageAnimation] class="d-flex flex-end p-1 align-items-center justify-content-end gap-1" *ngFor="let inp of postInput; let index = index" #chatArea>
                                            <div 
                                             [ngClass]="postInput ? ['bottom-right-radius', 'tech-box','user-box-input'] : ''" >
                                                {{inp}} 
                                              </div>
                                            <!-- <div class="profile-icon" *ngIf="lastInd">
                                               <div>{{userName[0]}}</div>
                                            </div> -->
                                          </div>
                                        }
                                    </ng-container>
                                    <ng-container *ngIf="isLoader">
                                        <div class="d-flex flex-column align-items-center justify-content-center h-100-perc">
                                            <div class="loader"></div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            
                        
                           <div class="text-container">
                            <mat-form-field class="text-field">
                                <textarea matInput [(ngModel)]="userInput"></textarea>
                                @if (userInput) {
                                    <button matSuffix mat-icon-button aria-label="Clear" (click)="updateInput($event)">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    }
                              </mat-form-field>
                           </div>
                       
                    </div>

                </div>

        </div>

    </div>
</div>