<div class="tech-chat-container d-flex flex-row h-100per">
  <div>
    <!--Side nav section-->
    <app-side-nav
      (selectionEvent)="menuNavigation($event)"
      [userData]="inputData"
    ></app-side-nav>
  </div>
  <div class="flex-10 p-1rem">
    <div class="chat-area d-flex flex-column">
      <!--Chat area header section-->
      <div
        class="d-flex flex-row align-items-center justify-content-between gap-3 p-1rem header-chat-section"
      >
        <div class="d-flex flex-row align-items-center gap-3">
          <ng-container *ngIf="profileUrl">
            <div class="profile-custom-icon">
              <img class="h-100per w-100per" [src]="profileUrl" />
            </div>
            <div class="profile-name-label">{{ userName }}</div>
          </ng-container>
          <ng-container *ngIf="!profileUrl">
            <div class="profile-user-logo">
              <div>{{ userName[0] }}</div>
            </div>
            <div class="profile-name-label">{{ userName }}</div>
          </ng-container>
        </div>
        <div *ngIf="showChat && postInput.length > 0">
          <button
            class="side-button"
            matSuffix
            mat-icon-button
            aria-label="SaveItem"
            (click)="clearChat()"
          >
            <mat-icon>restart_alt</mat-icon>
          </button>
        </div>
      </div>
      <!--Chat area message section-->
      <div class="message-section flex-5">
        <!--content section-->
        <ng-container *ngIf="!isLoader">
          <div class="d-flex p-1rem align-items-center gap-1">
            <div class="chat-logo">
              <img src="assets/bot-img.gif" class="h-100per w-100per" />
            </div>
            <div class="message-template bottom-left-radius">
              Hello <span class="user-det">{{ userName }} !!!</span> How can I
              help you?
            </div>
          </div>

          @if (postInput.length > 0) {
          <div *ngFor="let inp of postInput; let index = index">
            <!--User chat section-->
            <ng-container *ngIf="inp.type === 'user'">
              <div
                #chatArea
                [@messageAnimation]
                class="d-flex flex-end p-1 align-items-center justify-content-end gap-1"
              >
                <div class="message-template user-box-input">
                  {{ inp.value }}
                </div>
              </div>
            </ng-container>
            <!--Bot chat section-->
            <ng-container *ngIf="inp.type === 'bot'">
              <div
                #chatArea
                class="d-flex p-1 align-items-center gap-1"
                [@messageAnimation]
              >
                <div class="chat-logo">
                  <img src="assets/bot-img.gif" class="h-100per w-100per" />
                </div>
                <div
                  class="message-template bottom-left-radius pos-rel mr-15rem flex-1"
                  (mouseenter)="showChat ? mouseHovering(true,inp) : ''"
                  (mouseleave)="showChat ? mouseHovering(false,inp) : ''"
                >
                    <div class="fav-icon" *ngIf="inp.showHoverFav">
                      <ng-container *ngIf="inp.isFav">
                          <button
                            class="side-button"
                            matSuffix
                            mat-icon-button
                            aria-label="SaveItem"
                            (click)="markFav(inp, false)"
                          >
                            <mat-icon>favorite</mat-icon>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="!inp.isFav">
                          <button
                            class="side-button"
                            matSuffix
                            mat-icon-button
                            aria-label="SaveItem"
                            (click)="markFav(inp, true)"
                          >
                            <mat-icon>favorite_outlined</mat-icon>
                          </button>
                        </ng-container>
                    </div>
                    <div>
                      {{ inp.value }}
                    </div>
                </div>
              </div>
            </ng-container>
          </div>
          }
          <!--Message loader section-->
          <ng-container *ngIf="messageLoader">
            <div
              #chatArea
              class="d-flex p-1 align-items-center gap-1"
              [@messageAnimation]
            >
              <div class="chat-logo">
                <img src="assets/bot-img.gif" class="h-100per w-100per" />
              </div>
              <div
                class="message-template bottom-left-radius message-loader-container"
              >
                <div class="message-loader"></div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <!--Refresh loader section-->
        <ng-container *ngIf="isLoader">
          <div
            class="d-flex flex-column align-items-center justify-content-center h-100-perc"
          >
            <div class="loader"></div>
          </div>
        </ng-container>
      </div>

      <div class="text-container" *ngIf="showChat">
        <mat-form-field class="text-field">
          <textarea matInput [(ngModel)]="userInput"></textarea>
          @if (userInput) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="updateInput($event)"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
