<div class="fav-container d-flex flex-row h-100per">
  <div>
    <!--Side nav section-->
    <app-side-nav
      (selectionEvent)="sharedService.menuSelection($event)"
      [userData]="inputData"
    ></app-side-nav>
  </div>
  <div class="flex-10 p-1rem">
    <div class="fav-area d-flex flex-column">
      <div
        class="d-flex flex-row align-items-center gap-3rem p-1rem header-section"
      >
        Favourites
      </div>
      <div class="flex-5 m-1rem overflow-scroll">
        <ng-container *ngIf="favList.length === 0">
          <div class="no-fav-label">No favourites added</div>
        </ng-container>
        <ng-container *ngIf="favList.length > 0">
          <ng-container *ngFor="let fav of favList">
            <div
              class="fav-list d-flex flex-row justify-content-between align-items-center"
            >
              <div
                class="d-flex flex-row align-items-center p-2 flex-1 gap-1rem"
              >
                <div>
                  <mat-checkbox
                    [checked]="fav.isDelete"
                    (change)="selectFavItem(fav)"
                  ></mat-checkbox>
                </div>
                <div class="w-80per">
                  {{ fav.fav_list }}
                </div>
              </div>
              <div>{{ fav.created_on | date : "YYYY-MM-dd hh:mm:ss" }}</div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="m-1rem d-flex flex-end justify-content-end">
        <div *ngIf="isRemove">
          <button mat-raised-button color="primary" (click)="removeFav()">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
